html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    font: 1.2em / sans-serif;
    padding: 0;
    margin: 0;


    display: grid;
    justify-items: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
p {
    text-align: center;
}

* {
    box-sizing: inherit;
}

header h1,
header h2,
header h3,
header h4,
header h5 {
    padding: 2px;
    margin: 0;
}

.bullet-points-list {
    display: grid;
    gap: 0.3em;
    grid-auto-rows: auto;
    margin-left: 20px;
}

.bullet-points-list a:hover {
    text-decoration: none;
}

.bullet-point-mark {
    font-size: 0.9em;
}

.emoji-label {
    font-size: 0.85em;
}

.bullet-point-item {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
}

.bullet-point-item-center {
    align-items: center;
}

.bullet-point-text {
    text-align: left;
}

#wrapper {
    display: grid;
    grid-template-rows: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 15px;
}

a.btn {
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

#wrapper {
    width: 100%;
    max-width: 470px;
    margin: 0 20px;
}
