{% extends "layouts/base.html" %}

{% block content %}

<div id="wrapper">
    <main>
        <article>
            <p>
                This page could not be found or might have never existed.
            </p>

            <p>
                You can learn more about me at <a href="/">elizadc.me</a>.
            </p>
        </article>

        <footer>
            <p>
                You can reach me by email at <a href="mailto:contact@elizadc.me">contact@elizadc.me</a>.
            </p>
        </footer>
    </main>
</div>
{% endblock content %}
