{% extends "layouts/base.html" %}

{% block content %}

<div id="wrapper">
    <header>
        <h1>Elizabeth Gonzales&nbsp;Belsuzarri</h1>
        <h2>Industrial Engineer</h2>

        <nav id="site-nav-main">
            <a class="btn" href="https://www.linkedin.com/in/elizabeth-gb/">LinkedIn</a>
            <a class="btn" href="https://www.plabayo.tech/blog/">Blog</a>
        </nav>
    </header>

    <main>
        <article>
            <p>
                <strong>Industrial Engineer</strong> with experience in finance, procurement,
                outsourcing services, and business consultancy in a global business environment.
            </p>
            <p>
                <strong>Co-Founder</strong> of <a href="https://www.plabayo.tech">Plabayo</a>,
                a FOSS shop and independent consultancy firm,
                with Education, Privacy and transparency at the core of its mission.
            </p>
            <div class="bullet-points">
                <p class="bullet-points-desc">
                    You can hire me —in limited capacity— as a <strong>Consultant</strong> in regards to:
                </p>
                <div class="bullet-points-list">
                    <div class="bullet-point-item">
                        <div class="bullet-point-mark">
                            👩‍🏫
                        </div>
                        <div class="bullet-point-text">
                            Education inspired by montessori;
                        </div>
                    </div>
                    <div class="bullet-point-item">
                        <div class="bullet-point-mark">
                            👶
                        </div>
                        <div class="bullet-point-text">
                            Conscious parenting;
                        </div>
                    </div>
                    <div class="bullet-point-item">
                        <div class="bullet-point-mark">
                            ⚡
                        </div>
                        <div class="bullet-point-text">
                            Process automatization and business analytics.
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <footer>
        <p>
            You can reach me by email at <a href="mailto:contact@elizadc.me">contact@elizadc.me</a>.
        </p>
    </footer>
</div>

{% endblock content %}