{% extends "layouts/base.html" %}

{% block content %}

<div id="wrapper">
    <header>
        <h1>Elizabeth De Cauwsemaecker</h1>
        <h2>Industrial Engineer</h2>

        <nav id="site-nav-main">
            <a class="btn" href="https://www.linkedin.com/in/elizabeth-gb/">LinkedIn</a>
        </nav>
    </header>

    <main>
        <article>
            <p>
                <strong>Industrial Engineer</strong> with experience in finance, procurement,
                outsourcing services, and business consultancy in a global business environment.
            </p>
            <p>
                <strong>Co-Founder</strong> of <a href="https://www.plabayo.tech">Plabayo</a>,
                a FOSS shop and independent consultancy firm,
                with Education, Privacy and transparency at the core of its mission.
            </p>
            <div class="bullet-points">
                <p class="bullet-points-desc">
                    You can hire me —in limited capacity— as a <strong>Consultant</strong> in regards to:
                </p>
                <div class="bullet-points-list">
                    <ul>
                        <li><span>👩‍🏫</span> education inspired by montessori;</li>
                        <li><span>👶</span> conscious parenting;</li>
                        <li><span>⚡</span> process automatization and business analytics.</li>
                    </ul>
                </div>
            </div>
        </article>
    </main>

    <footer>
        <p>
            You can reach me by email at <a href="mailto:contact@elizadc.me">contact@elizadc.me</a>.
        </p>
    </footer>
</div>

{% endblock content %}